@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

body{
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Work Sans', sans-serif; */
}

h2{
  font-weight: 900;

}

.spcace-tb{
  margin: 80px 0;
}
.primary-color{
  color: #1BA371;
}

.primary-bg-color{
  background-color: #1BA371;
}